Source: zram-custom
Section: utils
Priority: extra
Maintainer: Max Rasskazov <mrasskazov@mirantis.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: zram-custom
Architecture: all
Depends: ${misc:Depends}
Description: Upstart job to create zram based ext2 partitions
 This installs a simple Upstart job to create zram based partitions
 on kernels that have the module available.
